<h1><%= @user.name %>さんのプロフィールページ</h1>
<h5><%= pluralize(@user.views, "view") %></h5>






<canvas data-controller="calendar"
        data-calendar-target="canvas"
        data-chart-data="<%= @chart_data.to_json %>"
        width="800" height="150">
</canvas>
