<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <h1>新しい投稿</h1>
    <%= render "form", post: @post %>
    
    <br>

    <!-- キャンセルボタン -->
    <div>
      <%= link_to "キャンセル", "#", data: {
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button" %>
    </div>
  </div>
<% end %>
