<div class="container mt-4">
  <h1 class="mb-4 text-center">新しいカテゴリーの作成</h1>

  <%= render "form", category: @category %>

  <div class="mt-4 text-center">
    <%= link_to "カテゴリー一覧に戻る", categories_path, class: "btn btn-secondary" %>
  </div>
</div>
