<%= turbo_frame_tag "modal" do %>
<div class="modal">
  <h1 class="mb-4 text-center">新しいカテゴリーの<br>作成</h1>

  <%= render "form", category: @category %>

  <br>

  <!-- キャンセルボタン -->
  <div>
    <%= link_to "キャンセル", "#", data: {
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button" %>
  </div>
</div>
<% end %>
